<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css'>
<link rel="stylesheet" href="/css">


<div class="container">
    <div class="columns is-centered">
        <div class="column is-8">
            <h1 class="mainHead">Favorited Articles</h1>
        </div>
    </div>
    {{#each dbArticle}}
    <div class="columns is-centered">
        <div class="column is-half">
            <div class="card">
                <div class="card-header">
                    <div class="card-header-title">
                        <span style="margin-right: 20px;"><a href="{{{this.link}}}">{{{this.title}}}</a></span>
                        <span><button id={{this.id}}
                                class="button is-medium is-danger is-focused is-medium deleteButton"><i
                                    class="fas fa-times"></i> Delete
                            </button></span>
                        <span>
                            <button id={{this.id}} class="button is-medium is-info is-focused is-medium noteButton"><i
                                    class="fas fa-edit"></i>
                                Article Notes </button></span>
                    </div>
                </div>
                <div class="card-content">
                    {{{this.date}}} {{{this.byline}}}
                    <div class="content">
                        {{{this.summary}}}
                    </div>

                </div>
            </div>
        </div>
    </div>
  

    <div class="modal noteModal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Note for Article   {{this.note}}</p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <div>
                 {{#iter}}
                  {{i}} {{note}}
               {{/iter}}
                    <span></span>
                    <span></span>
                
                    <!-- This needs to contain all notes for this article ... -->
    
                    <!--This will be to delete note-->
                    <button class="button is-danger is-small"><i class="fas fa-times">X</i></button>
                  {{/each}}
                </div>
                <form method="post">
                    <h2>Enter a Note!</h2>
                    <input type="text" id="noteTitle" name="title" placeholder="Title">
                    <p></p>
                    <textarea type="text" id="noteBody" name="body" placeholder="Write Note Here"></textarea>
                    <p></p>
        </div>
        <button id="save-note-button" class="button is-medium is-success saveNoteButton" data-id={{this.id}}>Save
            Note</button>

        <button class="button closeButton is-danger is-medium">Close</button>

        </form>
        </section>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
   
        var currentArticle = null;

        var noteArray = []; 
        $(".noteModal").hide()

        $.ajax({
            url: "/api/all",
            method: "GET",
        }).then(function (result) {
            console.log(result)

        })

        {
            {
                var articlesNotScraped = true
                console.log("articlesNotscraped should be true" + Boolean(articlesNotScraped))
            }
        }


        $(".deleteButton").on("click", function (event) {
            console.log("delete")
            var favoriteArticle = {
                id: event.target.id,
            }
            $.ajax({
                url: "/delete",
                method: "DELETE",
                data: favoriteArticle,
            }).then(function (result) {
                console.log(result)
                window.location.reload(true);
            })

        })

        $(".noteButton").on("click", function (event) {
            console.log("Note button is pressed")
            $(".noteModal").show()
            var favoriteArticle = {
                id: event.target.id,
            }
            var thisId = event.target.id
            currentArticle = thisId

            $.ajax({
                url: "/article/" + thisId,
                method: "GET",
            })
                .then(function (data) {
                    console.log(data)
                    console.log("data Note" + data.note[0])
    
                
                })
        })
      


        $(".saveNoteButton").on("click", function (event) {
            var newNote = {
                title: $("#noteTitle").val(),
                body: $("#noteBody").val(),
            }

            const identify = {
                id: event.target.id
            }

            var thisId = currentArticle
            console.log(thisId)
            console.log("new note" + newNote.title + newNote.body)
            $.ajax({
                url: "/article/" + thisId,
                method: "POST",
                data: {
                    title: $("#noteTitle").val(),
                    body: $("#noteBody").val(),
                }
            })
                .then(function (data) {
                    console.log(data)
                    window.location.reload(false);
                }).catch(function (err) {
                    // If an error occurred, send it to the client
                    res.json(err);
                });
        })

        $(".closeButton").on("click", function(event){
             $(".noteModal").hide()
        })


    })

</script>

{{!-- var favoriteArticle = {
                id: event.target.id,
            }
               var thisId = event.target._id
                console.log(favoriteArticle.id) --}}