<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css'>

{{#if articlesNotScraped}}
<div class="columns">
    <div class="column is-full secondDiv">
        Oh no! Looks like you're going to have to click the scrape button to get your articles!
    </div>
</div>
<div class="columns is-centered">
    <div class="column is-10">
        <hr class="my-4">
    </div>
</div>

{{#else}}
{{#each dbArticle}}
<div class="columns is-centered is-mobile">
    <div class="column is-offset-by-2 is-half">
        <div class="card">
            <div class="card-header">
                <div class="card-header-title">
                    <a href="{{{this.link}}}">{{{this.title}}}</a>
                </div>
            </div>
            <div class="card-content">
                {{{this.date}}} {{{this.byline}}}
                <div class="content">
                    {{{this.summary}}}
                </div>

            </div>
        </div>
    </div>
    <div class="column is-4">
        {{{this.image}}}
    </div>
</div>
{{/each}}

{{/else}}

{{/if}}






<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        var articlesNotScraped = true

        console.log("articlesNotscraped should be true" + Boolean(articlesNotScraped))
    })

    $(".scrapeButton").on("click", function (event) {
        console.log("button pressed")
        event.preventDefault()

        articlesNotScraped = false
        console.log("articlesNotscraped should be false" + Boolean(articlesNotScraped))


                    $.ajax({
                        url: "/all",
                        method: "GET",
                    }).then(function (result) {
                        console.log(result)
                    })
                    
    })
</script>
