<link rel="stylesheet" href="../public/assets/style.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css'>
<script defer src='https://use.fontawesome.com/releases/v5.3.1/js/all.js'></script>

<div class="container">
    <div class="columns is-centered">
        <div class="column is-8">
    <h1 class="mainHead">Scrape em' Articles!</h1> 
        </div>
    </div>
{{#each dbArticle}} {{#unless this.favorite}}
<div class="columns is-centered is-mobile">
    <div class="column is-offset-by-2 is-half">
        <div class="card">
            <div class="card-header">
                <div class="card-header-title">
                    <span style="margin-right: 15px;"><a href="{{{this.link}}}">{{{this.title}}}</a></span>
                    <span><button id={{this.id}} data-favorite={{this.favorite}} class="button is-medium is-danger favoriteButton"><i class="far fa-star"></i>

Favorite </button></span>
                </div>
            </div>
            <div class="card-content">
                {{{this.date}}} {{{this.byline}}}
                <div class="content">
                    {{{this.summary}}}
                </div>

            </div>
        </div>
    </div>
</div>
{{/unless}}{{/each}} 






<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
         $.ajax({
                        url: "/api/all",
                        method: "GET",
                    }).then(function (result) {
                        console.log(result)
            
                    })
                    

        var articlesNotScraped = true
        console.log("articlesNotscraped should be true" + Boolean(articlesNotScraped))
    })
    $(".scrapeButton").on("click", function (event) {
        console.log("button pressed")
        event.preventDefault()
        articlesNotScraped = false
        console.log("articlesNotscraped should be false" + Boolean(articlesNotScraped))
                   
    })
  
                   
                
    $(".favoriteButton").on("click", function (event) {
        console.log("button clicked")
        var favoriteArticle ={
            id: event.target.id,
            favorite: true,
        }           
                       $.ajax({
                        url: "/all",
                        method: "PUT",
                        data: favoriteArticle,
                    }).then(function (result) {
                        console.log(result)
                    window.location.reload(false); 
                    })
    })
</script>
 
                    